body{
    background-color: rgb(123, 188, 193);
    font-family: 'EB Garamond', serif;
}

#profpic{
   float: left;
    
    margin-right:20px;
    object-fit: cover;
    

    height: 180px;
    width: 150px;
    
    padding: 10px;

    border: 3px solid rgb(0, 0, 0);
    
}

h1{
    color: white;
    font-family: 'Lobster', cursive;
    margin-left: 10px;
    
    font-size: 40px;
}

h2{
    color: white;
    font-family: 'Lobster',cursive;
    margin: 0px;
}


#intro>p{
    
    margin-top: 20px;
    
    font-size: 30px;
    line-height: 2.3;
    color: rgb(0, 0, 0);
    background-color: white;
}



.box{
    margin: 10px;
    border: 2px solid white;
    padding:20px;
    
}

p{
    font-family: 'Lora', serif;
}

li{
    margin: 4px;
}




